#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.App {
    margin-top: 50vh;
    height: 10vh;
    background-color: #ffffff;
    text-align: center;
    font: alata;
    font-size: 100px;
    color: black;
}

/* 

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-container {
    padding-top: 30px;
}

.header {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
}

.sub-text {
    font-size: 25px;
    color: white;
}

.gradient-text {
    background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cta-button {
    height: 45px;
    border: 0;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
*/

.connect-wallet-button {
    background: -webkit-linear-gradient(left, #60c657, #35aee2);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
